[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pbivnorm"]
	path = pbivnorm
	url = https://github.com/brentonk/pbivnorm
	shallow = true
	registered = true
